<app-card label="Formularz z wczytywaniem danych">
    <app-form [formGroup]="productService.form" [service]="productService" [clearButton]="true" [refreshButton]="true">
        <div class="d-flex flex-row">
            <div class="w-100">
                <app-input label="Kod" formControlName="code"></app-input>
                <app-input label="Nazwa" formControlName="name"></app-input>
                <app-input label="Cena" type="number" formControlName="price"></app-input>
            </div>
        </div>
    </app-form>
</app-card>