<ng-template #successTpl>Dane zostały zapisane</ng-template>
<ng-template #errorTpl>Występują błedy w formularzu</ng-template>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(successTpl, errorTpl)" class="d-flex flex-column">
  <ng-content *ngIf="!!formGroup"></ng-content>
  <app-button type="submit" class="m-2" label="Zapisz"></app-button>
  <app-button type="button" color="warning" class="m-2" (click)="cleanErrors()" label="Wyczyść błędy"></app-button>
</form>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>