<app-card label="Prosty formularz"><app-form [formGroup]="contactService.form" [service]="contactService">
        <div class="d-flex flex-row">
            <div class="me-2 w-100">
                <app-input label="Imię" formControlName="firstName" (changed)="onChangedName($event)"></app-input>
                <app-input label="Nazwisko" formControlName="lastName"></app-input>
                <app-input label="Email" formControlName="email"></app-input>
                <app-select label="Stanowisko" formControlName="position" [data]="contactService.positions"
                    (changed)="onChangedList($event)"></app-select>
            </div>
            <div formGroupName="address" class="ms-2 w-100">
                <app-input label="Kod pocztowy" formControlName="zip"></app-input>
                <app-input label="Miejscowość" formControlName="city"></app-input>
                <app-input label="Ulica" formControlName="street"></app-input>
            </div>
        </div>
    </app-form></app-card>