<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="d-flex flex-column" [ngClass]="{disabled:service.loaded}">
  <ng-content *ngIf="!!formGroup"></ng-content>
  <div class="d-flex flex-row">
    <div class="w-100 m-2"> <xpp-button *ngIf="refreshButton" [disabled]="service.loaded" type="button" color="success"
        class="w-100" (onClick)="refresh()" label="Wczytaj"></xpp-button></div>
    <div class="w-100 m-2"> <xpp-button *ngIf="service.addButtonVisible()"
        [disabled]="service.loaded || service.addNewButtonDisabled()" type="button" class="w-100"
        (onClick)="service.clearSelection()" label="Dodaj nowy"></xpp-button></div>
  </div>
  <div class="d-flex flex-row">
    <xpp-button *ngIf="clearButton" [disabled]="service.loaded" type="button" color="warning" class="w-100 m-2"
      (onClick)="clear()" label="Wyczyść"></xpp-button>
    <xpp-button [disabled]="service.loaded" *ngIf="service.saveVisible()" type="submit" color="success"
      class="w-100 m-2" [label]="service.saveButtonText()"></xpp-button>
  </div>
</form>
<xpp-toast aria-live="polite" aria-atomic="true"></xpp-toast>