<ng-template #contact let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{contactService.selectedItem.value?.firstName}}
            {{contactService.selectedItem.value?.lastName}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h5>{{contactService.selectedItem.value?.email}}</h5>
    </div>
</ng-template>

<app-card label="Prosty formularz">
    <xpp-form [formGroup]="contactService.form" [service]="contactService">
        <div class="d-flex flex-column">
            <xpp-input label="Imię" formControlName="firstName"></xpp-input>
            <xpp-input label="Nazwisko" formControlName="lastName"></xpp-input>
            <xpp-input label="Email" type="email" formControlName="email"></xpp-input>
        </div>
    </xpp-form>
</app-card>